#about {
    display: flex;
    flex-direction: column;
    width: 75%;
    margin: auto;
    color: white;
    align-items: center;
    justify-content: center;

    p {
        // font-size: larger;
    }

    a {
        color: white;
        text-decoration: underline white;
    }

    .languages {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        
        h5 {
            line-height: 0;
        }

        .language {
            padding: 20px;

            .skills {
                list-style-type: none;
                list-style: none;
                padding-left: 0;
            
                li {
                    line-height: 1.5em;
                }
            }
        }
    }
}

@media all and (min-width: 2000px) {
    #about {
        width: 1500px;
    }
}