.project {
    background-color: #475c7a;
    border-radius: 2px;
    margin: 10px;

    h3 {
        color: white;
        text-decoration: none;
        text-align: center;
    }

    p {
        color: #fcbb6d;
        padding: 5px;
    }    

}