#head {
    margin: 0 auto;
    text-align: center;
}

#main-content {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: center;
    padding: 50px;
    color: white;
    width: 90vw;
    


    li {
        padding-top: 10px;
    }

    a {
        text-decoration: underline white;
        color: white;
        
        &:hover {
            text-shadow: 3px 3px 5px grey;
        }
    }

    .linkpage {
        padding: 10px;
        border-radius: 10px;
        width: 25vw;

    }
}

// @media all and (min-width: 2000px) {
//     #main-content {
//         width: 1500px;
//     }
// }