#main-content {
    width: 50%;
    margin: auto;
    padding-top: 50px;
    color: white;

    li {
        padding-top: 10px;
    }

    a {
        text-decoration: underline white;
        color: white;
        
        &:hover {
            text-shadow: 3px 3px 5px grey;
        }
    }
}

// @media all and (min-width: 2000px) {
//     #main-content {
//         width: 1500px;
//     }
// }