.navbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-top: 10px;
    position: fixed; 
    top: 0;

    #navlogo {

        padding-left: 20px;

        &:hover {
            filter: drop-shadow(2px 2px 2px grey);
        }
    }

    #lowgo {
        height: 5%;
        width: auto;
    }


    #options{
        display: flex;
        align-items: center;
    }

    .option {
        color: whitesmoke;
        text-decoration: none;
        font-family: Roboto;
        padding: 10px;
        font-size: large;

        &:hover{
            text-shadow: 2px 2px 5px grey;
        }
    }

}