.navbar {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    
    .option {
        font-family: Roboto;
        color: white;
        text-decoration: none;
        padding: 10px;
        font-size: large;

        &:hover {
            text-shadow: 2px 2px 2px grey;
        }
    }

    .icon {
        color: white;
        padding: 10px;
        font-size: x-large;

        &:hover {
            filter: drop-shadow(2px 2px 2px grey);
        }
    }
}