.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 10px;
    position: fixed; 
    top: 0;

    #home {
        width: 5%;
        height: auto;

    }
    .option {
        color: whitesmoke;
        text-decoration: none;
        font-family: Roboto;
        padding: 10px;
        font-size: large;

        &:hover{
            text-shadow: 2px 2px 5px grey;
        }
    }

}