.app {
    max-width: 1024px;
    margin: 0 auto;
}

h1 {
    font-family: 'Source Code Pro', monospace;
    color: white;
}

h2 {
    font-family: 'Source Code Pro', monospace;
    color: white;
}

a {
    color: #685d79
}
