.homepage {
    display: flex;
    flex-direction: column;
    width: 75%;
    margin: auto;
    padding-top: 20px;
    color: white;
    text-shadow: 2px 2px 2px grey;
    align-items: center;
    justify-content: center;

    .greeting {
        height: 98vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .mainlogo {
            display: flex;
            width: 90%;
            margin: auto;
            align-items: center;
            justify-content: center;

            #logo {
                width: 20%;
                height: auto;
                filter: drop-shadow(2px 2px 2px grey);
                padding: 15px;
                border-right-style: solid;
                border-right-width: 3px;
                border-right-color: white;
            }
            
            .title {
                margin: 10px;
                h1 {
                    font-size: 72px;
                    margin-bottom: 2px;
                    line-height: 3px;
                }
                h3 {
                    font-size: 30px;
                    text-align: center;
                }
            }
        }
        #more {
            justify-content: center;
            font-size: 72px;
            // padding-top: 30px;
        }
    }
    
    #pages {
        display: flex;
        flex-direction: row;
        justify-content: center;

        .linkLogo {
            height: 10px;
            width: auto;
        }

        #projects {
            font-size: 110;
            background-color: orange;
        }

        #blog {
            font-size: 72;
            background-color: yellowgreen;
        }

        #teacher {
            font-size: 88;
            background-color: blue;
        }
    }
}

