#portfolio {
    color: white;
    text-align: center;
    
    a {
        color: white;
        text-decoration: underline white;
    }
}

h1 {
    
}

// @media all and (min-width: 2000px) {
//     #portfolio {
//         width: 1500px;
//     }
// }